body{
    font-family: 'Libre Caslon Text', serif;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    font-family: 'IBM Plex Sans', sans-serif;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;
    border-left: 25px;
    border-right: 25px;
    border-bottom: 25px;
    background-color:white;

}


h1{
    color: purple;
}

h2{
    color: purple;
    text-decoration: underline;
    text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: red;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:grey;
  color: red;
}

.topnav a.active {
  background-color: grey;
  color: black;
}


#id{
    background-image: url("https://i.imgur.com/iY6kWxX.gif");
}


#mtm{
    text-align: center;
    color:black;
    padding:50px;
}
#em{
    text-align: center;
    color:black;
    padding:50px;
}
#wbs{
    text-align: center;
    color:black;
    padding:50px;
}
#title{
    color:black;
    text-align:center;
}
.tips{
    color:black;
    text-align: center;
}
#idk{
    color:black;
    text-align: center;
}