body{
    font-family: 'Libre Caslon Text', serif;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    font-family: 'IBM Plex Sans', sans-serif;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;
    border-left: 25px;
    border-right: 25px;
    border-bottom: 25px;
    background-color:white;

}


marquee{
    color: purple;
}

h1{
    color: purple;
}

h2{
    color: purple;
    text-decoration: underline;
    text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: red;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:grey;
  color: black;
}

.topnav a.active {
  background-color: grey;
  color: black;
}


.ToDo{
    text-align: center;
}

#Para{
    text-align: center;
}


#id{
background-image: url("https://thumbs.gfycat.com/ScentedPastelAlligatorsnappingturtle-size_restricted.gif");


}


#mtm{
    text-align: center;
    color:black;
    padding:50px;
}
#em{
    text-align: center;
    color:black;
    padding:50px;
}
#wbs{
    text-align: center;
    color:black;
    padding:50px;
}
#title{
    color:black;
    text-align:center;
}
.tips{
    color:black;
    text-align: center;
}
#idk{
    color:black;
    text-align: center;
}
#id{
    color:white;

}
#title{
    color:red;
}
h3{
    color:red;
}


.Ant{






/*
body{
    background-color: white; */
}








#quiz {
    margin-left: 10px;
    background: #d2def2;
    padding: 10px 20px 10px 20px;
    width: 400px;
    border-radius: 20px;
    float: left;

}

input {
    margin-bottom: 20px;
    display: block;
}

#textbox {
    height: 25px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    padding-left: 5px;
}


#button {
    background: green;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 16px;
    transition-duration: .5s;
    margin-top: 15px;
}



#button:hover {
    background: white;
    border: 1px solid green;
    color: black;
    cursor: pointer;

}

#after_submit {
    visibility: hidden;
    background: #ff5459;
    padding: 10px 20px 10px 20px;
    width: 400px;
    border-radius: 20px;
    float: left;
    margin-left: 20px;
    font-size: 30px;


}


h1{
    text-align: center;
    color: white;
}

#ants class1{
    border: solid line;
    padding: 50px;

}

h2{
    text-align: center;
}


#antavideo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}


img{
    width: 300px;
    height: 300px;
}

#h1{
    background-color: black;
}

#antsform{
   display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

input{
    align: center;

}

#antavideo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

.questions{
    color: red;
    border:  solid black;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 14px;
  text-align: center;
}
